<div class="row">
  <div class="col mx-auto px-sm-4 px-md-5">
    <h2 class="fw-light"><%= @course.title %></h2>
    <p class="avaliações">
      Avaliações e outras ações
    </p>

    <div class="d-flex flex-wrap flex-lg-nowrap row-gap-3 column-gap-3">
      <div class="flex-shrink-0 flex-grow-1 flex-lg-grow-0 text-center">
        <img src="<%= asset_path @course.thumbnail %>" width="300" height="225" class="object-fit-fill" alt="Foto">
      </div>
      <div class="flex-grow-1 ms-3">
        <p class="lead text-body-secondary text-md-justified px-3">

            <%= @course.description %>
        </p>
      </div>
    </div>

    <!-- <p>
      <a href="#" class="btn btn-primary my-2">Comprar</a>
      <a href="#" class="btn btn-secondary my-2">Voltar</a>
    </p> -->
  </div>
</div>
